#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bercak {
  background-image: paint(paint-bercak);
  --spot-size: 30px;
  --spot-count: 20;
  width: 90vw;
  height: 100vh;
  border: 1px solid #000;
  position: relative;
}
